:root {
    --cor1:rgb(245, 0, 192);
}

body {
    background-color: #0e0027;
}

 /* MENU //////////////////*/ 
.menu {
    display: flex;
    background-color: #0e0027;
    align-items: center;
    
    border-bottom: 1px solid rgba(255, 63, 213, 0.582);
}

.navegacao {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;

    margin-top: 0;
    margin-bottom: 0;
}

.navegacao-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 100%;
    
    
}


.navegacao-item:hover {
    background-color: #371b6b;
    transition: all 0.6s;
    cursor: pointer;
}

.navegacao-item>a {
    text-decoration: none;
    color: white;
    padding: 39px 80px;
}

.logo {
    color: white;
    margin-left: 20px;
}

.voltar {
    
    margin: 1%;
}
.botao__voltar {
    width: 3%;
}

/*-------------------*/
/*----banner1-------*/
/*-----------------*/
.banner_foto {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;

    border-radius: 20px;
    border: 2px solid var(--cor1);

    margin: 0;
    
}


/*-------------------*/
/*----post1-------*/
/*-----------------*/

.post1 {
    text-align: center;
    font-size: 18px;
    color: white;

    padding: 2% 4%;

    padding-top: 0;

}

.post1__titulo {
    color: white;
    text-decoration: none;
}

.post1__titulo-modificador:hover {
    color: var(--cor1);
}

.post1__descricao {
    text-indent: 4%;
}

.post1__lista__intens {
    padding: 0;
    text-align: left;
    margin-left: 14%;
    margin-right: 14%;
}

.post1__lista__intens > strong {
    color: rgb(245, 0, 192);
}


/*-------------------*/
/*----RODAPE-------*/
/*-----------------*/

.rodape {
    bottom: 0;
    width: 100%;


    text-align: center;

    background-color: #0b001f;
    border-top: 1px solid #fff;
    margin: 0;

    padding:15px 0px;
    
}

.rodape__itens {
    color: white;
    font-size: 16px;


    margin: 0;


}


/* dentro do botaao :  animation: girar 1s infinite linear;


@keyframes girar {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
} */

/*-------------------*/
/*----RESPONSISIVIDADE-------*/
/*-----------------*/

@media (max-width: 900px) {
    /* __________MENU_________ */
    .logo {
        text-align: center;
        margin: 0;
        font-size: 90%;
    }



    .logo {
        text-align: center;
        margin: 0;
    }

    .menu {
        display: block;
        flex-direction: column;
        
        border: 0;        
    }

    .navegacao {
        border-bottom: 1px solid rgba(255, 63, 213, 0.582);

        margin-top: 0;
        padding-left: 0;



    }

    .voltar {
        display: none;
    }

    .navegacao {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;

    }
    
    .navegacao-item {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        height: 100%;
        width: 100%;
        
    }
    

    .navegacao-item:hover {
        background-color: #371b6b;
        transition: all 0.6s;
        cursor: pointer;
    }
    
    .navegacao-item>a {
        text-decoration: none;
        color: white;
        padding: 30px 30px;
    }


    /* _____banner1_____ */
    .banner_foto {
        margin-top: 3%;
    }

    .post1__titulo {
    font-size: 130%;
    }

    /* _____banner2_____ */

    .post1__titulo > h2{
    font-size: 100%;
    }
}

@media (max-width: 400px) {
    .navegacao-item {
        width: 33.3%;
        height: 92px;
        margin: 0;
        padding: 0;
        height: 80px;
    }

} 



